@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-weight: 400;

  color: #494949;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #3a5a40;
  font-weight: 600;
}

.container {
  width: min(100% - 10rem, 60rem);
  margin-inline: auto;
  margin-top: clamp(5rem, 2rem + 15vw, 20rem);

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  text-align: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.social:last-child {
  gap: 0.25rem;
}

.logo {
  margin-bottom: 1.5rem;
}

/* Media queries */
@media only screen and (max-width: 53.75rem) {
  .socials {
    flex-direction: column;
  }
}

@media only screen and (max-width: 36.625rem) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }

  .logo {
    width: 200px;
    margin-bottom: 0;
  }

  .socials {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 31.5625rem) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .logo {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 20rem) {
  h1 {
    font-size: 1.5rem;
  }

  .socials {
    font-size: 0.75rem;
  }
}
